body {
    background-color:cornflowerblue;
    color:ivory;
}


div {
    margin-bottom: 30px;
}


img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}


button {
    background-color:lightgoldenrodyellow;
    width: 100px;
}


#lista {
    border: 2px solid ivory;
    border-radius: 15%;
    width: 200px;
    padding: 10px;
}